@import 'styles/variables.scss';
.chatBoxFooterContainer {
  display: flex;
  align-items: flex-end;
  background-color: $secondary;
  padding: 0.6rem 1rem;
  align-items: center;
  gap: 0.8rem;
  .emoji {
    display: flex;
    gap: 0.8rem;
  }
  .inputContainer {
    display: flex;
    gap: 0.6rem;
    flex: 1;
  }
  .micIcon {
    margin-top: 6px;
  }
}
