@import 'styles/variables.scss';
.userListContainer {
  margin-top: 6.8rem;
  height: calc(100vh - 6.8rem);
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $white;
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $inputBorder;
    border-radius: 2px;
  }
}
