@import 'styles/variables.scss';
.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 0.6rem 0.4rem 0.6rem 1.3rem;
  background-color: $grayColorMain;
  position: fixed;
  z-index: 1;
  width: 400px;

  .profileImg {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
  }
  .userProfileContainer {
    flex: 1;
  }

  .itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
  }
  .logout {
    color: $red100;
    cursor: pointer;
  }
}
