// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import 'styles/variables';
@import 'styles/index';
@import 'styles/mixins';


html,
body {
  padding: 0;
  margin: 0;
  color: $dbStorm;
  font-family: $poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

.mobile {
  @include onDesktop() {
    display: none;
  }
}

.desktop {
  display: none;

  @include onDesktop() {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}




.shimmerButton {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 2px 2px 10px #eee;
}

.shimmerButton:after {
  content: '';
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 90%;
  max-width: 300px;
  height: 100%;
  position: absolute;
  z-index: 1;
  animation: slide 3.3s infinite;
  background: -moz-linear-gradient(left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(30, 196, 180, 0) 99%,
      rgba(30, 196, 180, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(50%, rgba(255, 255, 255, 0.5)),
      color-stop(99%, rgba(128, 186, 232, 0)),
      color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(30, 196, 180, 0) 99%,
      rgba(30, 196, 180, 0) 100%);
  background: -ms-linear-gradient(left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(30, 196, 180, 0) 99%,
      rgba(30, 196, 180, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right,
      rgba(25, 165, 148, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(30, 196, 180, 0) 99%,
      rgba(30, 196, 180, 0) 100%);
  /* W3C */
}
